<div class="container-fluid" style="width:100%;">
  <div class="row">
    <p ng-repeat="m in messages track by $index">{{m}}</p>
  </div>
  <div class="row" style="position:fixed; bottom:30px; width:100%; height:30px;">
    <form ng-submit="sendMessage()">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="type here to chat" ng-model="chatInput.Text">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="sendMessage()">Send</button>
        </span>
      </div>
    </form>
  </div>
</div>
