<div class="container-fluid" id="chatwindow">
  <div class="sidebar">
    <div class="row-fluid">
      <ul class="nav nav-pills nav-stacked">
        <li class="friend" ng-repeat="friend in friends track by $index">
          <a href="javascript:void(0);" ng-click="openChat(friend)">{{friend.Username}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="messagebox" ng-show="messagePartner">
    <div class="row-fluid">
      <p ng-repeat="m in messages track by $index">{{m}}</p>
    </div>
    <div class="chatinput">
      <form ng-submit="sendMessage()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="type here to chat" ng-model="chatInput.Text">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="sendMessage()">Send</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
